@use "/src/css/abstracts/variables" as var;
@use "/src/css/abstracts/mixins" as mix;
@use "sass:math";

.footer {
  background-color: var.$background-color-quinary;
  padding: var.$gutter-base var.$gutter-base / 2;
  h3 {
    font-size: var.$font-size-medium;
  }
  display: flex;
  justify-content: space-between;
  .listSection {
    flex-basis: 75%;
    display: flex;
    justify-content: space-between;
    .footerListComponent {
      flex-basis: 31%;
      ul {
        list-style-type: none;
        padding-left: 0;
      }
      a {
        text-decoration: none;
        color: var.$text-color-base;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
  .socialMedia {
    margin-right: var.$gutter-base;
    flex-basis: 25%;
    .iconsContainer {
      display: flex;
    }

    a {
      font-size: var.$font-size-base;
      color: var.$text-color-primary;
      background-color: var.$background-color-tertiary;
      padding: var.$gutter-base / 2.5;
      margin-right: var.$gutter-base / 3;
      display: block;
      width: var.$gutter-base * 1.5;
      text-align: center;
    }
    a:hover {
      background-color: var.$background-color-quaternary;
    }
  }
}
